body {
	background: url(http://wallpaperus.org/wallpapers/07/64/leather-textures-1920x1080-wallpaper-2161323.jpg);
	color: white;
}

.search-results {
	color: white;
}

button {
	background-color: #264C72;
	color: white;
	border-radius: 10px;
	border-color: #264C72;
	border-style: solid;
}

input {

}

.results-container {
	height: 300px;
	width: 75vw;
	position : absolute;
    bottom : 0;
	float: left;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	overflow: scroll;
	margin-bottom: 110px;
}

.search-results {
	margin: 10px
}